beautifulsoup4==4.7.1
Django==1.11.18
django-webtest==1.9.4
djangorestframework==3.9.2
psycopg2==2.7.6.1
pytz==2018.7
six==1.12.0
soupsieve==1.7.2
uWSGI==2.0.17.1
waitress==1.2.0
WebOb==1.8.5
WebTest==2.0.32
