{% extends "base.html" %}

{% block content %}
    {% include "_entry.html" with entry=entry only %}
    <hr>
    <h4>Комментарии</h4>
    {% for comment in entry.comment_set.all %}
        <p><em>Posted by {{ comment.name }}</em></p>
        {{ comment|linebreaks }}
    {% empty %}
        Комментариев пока нет.
    {% endfor %}
    <h5>Add a comment</h5>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Отправить">
</form>
{% endblock %}
